<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<form style="background-color: black; height: 10% ">
    <table>
        <tr>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
        </tr>
        <tr>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
        </tr>
        <tr>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
        </tr>
        <tr>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
        </tr>
        <tr>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
        </tr>
        <tr>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
            <td style="color: white; font-weight: bold">Ссылка</td>
        </tr>
    </table>
</form>

</body>
</html>