<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<form style="background-color: #333033; border-radius: 15px;">
    <table>
        <tr>
            <td style="color: #aa0005; font-style: inherit">Ссылка</td>
            <td>Ссылка</td>
            <td>Ссылка</td>
        </tr>
        <tr>
            <td>Ссылка</td>
            <td>Ссылка</td>
            <td>Ссылка</td>
        </tr>
    </table>
</form>

</body>
</html>