<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-color: #cccccc">
<!--TODO: HEADER-->
<br>
<h1 style="font-size: 300%" align="center">
    <span>Welcome</span>
</h1>
<form th:action="@{/login}" th:method="post">
    <table style="background-color: white; border-radius: 15px" align="center">
        <tr>
            <td>
                <span>Login</span>
            </td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        <tr>
            <td>
                <span>Password</span>
            </td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/registration}">Registration</a>
            </td>
            <td align="center">
                <input type="submit" style="background-color: #aa0005; font-size: 20px; border-bottom-color: #aa0005; color: white; border-radius: 15px"
                th:value="Login">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a th:href="@{/products}">Next</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>