<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RZ Market</title>
</head>
<body style="background-color: #cccccc">
<div th:insert="~{header}"></div>
<br>
<table style="width: 100%">
    <tr>
        <td style="width: 50%">
            <form th:action="@{/products}" style="width: 100%" th:method="post" th:object="${filter}">
                <table style="background-color: white; width: 100%; border-radius: 8px">
                    <tr>
                        <td align="left" th:text="#{filter.category}"></td>
                        <td align="left">
                            <input type="checkbox"
                                   th:value="1"
                                   th:field="*{tv}"
                                   th:text="#{filter.category.tv}">
                        </td>
                        <td align="left">
                            <input type="checkbox"
                                   th:value="2"
                                   th:field="*{audio}"
                                   th:text="#{filter.category.audio}">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span th:text="#{filter.brand}"></span>
                        </td>
                        <td align="left">
                            <select name="brand" id="brand" th:field="*{brand}">
                                <option th:each="brand : ${brands}"
                                        th:value="${brand}"
                                        th:text="${brand}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span th:text="#{filter.price}"></span>
                        </td>
                        <td>
                            <span th:text="#{filter.price.minimum}"></span>
                        </td>
                        <td>
                            <input type="text" th:value="*{minPrice}" th:field="*{minPrice}">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span th:text="#{filter.price.maximum}"></span>
                        </td>
                        <td>
                            <input type="text" th:value="*{maxPrice}" th:field="*{maxPrice}">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span th:text="#{filter.sorted}"></span>
                        </td>
                        <td align="left">
                            <input type="radio" name="orderByDesc" th:value="true" th:field="*{orderByDesc}">
                            <span th:text="#{filter.price.descending}"></span>
                        </td>
                        <td align="left">
                            <input type="radio" name="orderByDesc" th:value="false" th:field="*{orderByDesc}">
                            <span th:text="#{filter.price.asceding}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span th:text="#{filter.view}"></span>
                        </td>
                        <td>
                            <select name="pageSize" id="pageSize" th:field="*{pageSize}">
                                <option th:each="size : ${pageSizeList}"
                                        th:value="${size}"
                                        th:text="${size}">
                                </option>
                            </select>
                            <span th:text="#{filter.view.count}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span th:text="#{filter.selectPage}"></span>
                        </td>
                        <td>
                            <span th:each="page : ${countPage}" th:field="*{page}">
                             <a th:href="@{/products/{page}(page=${page})}" th:text="${page}"></a>
                             </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right">
                            <button type="submit" class="btn btn-outline-success" th:text="#{filter.submit}"></button>
                            <a th:href="@{/clear-filter}">
                                <button type="button" class="btn btn-outline-danger"
                                        th:text="#{filter.clearFilter}"></button>
                            </a>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
        <td style="width: 50%">
            <table style="background-color: white; border-radius: 8px">
                <tr>
                    <td align="center">
                        <img src="/resources/image.jpg" style="max-width: 80%">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<br>
<form th:action="@{/products}"
      th:method="post"
      th:each="product : ${products}"
      th:object="${product}">
    <div th:if="${product.storage.count > 0}">
        <table style="border-radius: 8px; background-color: white">
            <tr>
                <td style="width: 40%" align="center">
                    <input type="image" th:src="*{productDetail.image}" width="70%">
                </td>
                <td style="width: 40%; font-size: 18px">
                    <a th:href="@{/product/{id}(id=${product.id})}"
                       style="font-size: 32px">
                        <span th:text="*{productDetail.brand}"></span>
                        <span th:text="*{productDetail.model}"></span>
                    </a><br><br>
                    <span th:text="#{product.description}"></span><br><br>
                    <span th:text="*{productDetail.description}"></span>
                </td>
                <td style="width: 20%; font-size: 32px" align="center">
                    <span th:text="#{product.price}"></span><br>
                    <span th:text="*{price}"></span>
                    <span th:text="#{product.priceType}"></span>
                    <br>
                    <div th:if="${currentUser != null}">
                        <a th:href="@{/basket/add/{id}(id=*{id})}">
                            <button type="button" class="btn btn-outline-success"
                                    th:text="#{product.toBasket}"></button>
                        </a>
                        <a th:href="@{/favorite/add/{id}(id=*{id})}">
                            <button type="button" class="btn btn-outline-primary"
                                    th:text="#{favorite.add}"></button>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br>
</form>
</body>
</html>